body {
    font-family: 'Open Sans', sans-serif;
    background: #111;
    color: white;
}

#logo {
    width: 101px;
}

#top-nav {
    background: #333;
}

#top-nav ul {
    margin: 0;
}

#top-nav li {
    float: left;
    margin-left: 20px;
}

#top-nav a {
    color: #A5A5A5;
    font-size: 11px;
    line-height: 2.5;
}

#main-nav {
    background: #222;
    border: none;
    margin: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #BC9C5E;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #202020;
}

#main-nav .dropdown-menu {
    background: #202020;
    border: 0;
    font-size: 12px;
}

#main-nav .dropdown-menu .divider {
    background-color: #333;
}

#main-nav .dropdown-menu a {
    color: #8D8D8D;
}

#main-nav .dropdown-menu a:hover {
    color: #BC9C5E;
    background: none;
}

#main-nav.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #BC9C5E;
}

#main-nav ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

#carousel {
    height: 600px;
    overflow: hidden;
}

#carousel .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 37%;
}

#carousel .carousel-caption {
    top: 30%;
}

#carousel h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    font-weight: 100;
}

#carousel h3 {
    font-weight: 400;
}

#destination-menu {
    width: 480px;
}

#destination-menu ul {
    float: left;
    margin: 15px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#destination-menu li {
    margin-bottom: 5px;
}

#researvation-btn {
    border: 2px solid #333;
    border-radius: 0;
    color: #999;
    font-size: 13px;
    margin-top: 11px;
    margin-left: 30px;
    padding: 3px 20px;
}

#bottom-links {
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#bottom-links a {
    color: #888;    
}

#bottom-links strong {
    color: #555;
    margin-bottom: 5px;
}

#bottom-links ul {
    float: left;
}

#bottom-links ul li {
    margin-bottom: 2px;
}

#footer-top-menu {
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid #333;
}

#footer-top-menu a {
    color: #BC9C5E;
}

#footer-top-links a {
    color: #888;
}

#footer-top-menu p {
    color: #666;
}

#footer-top-menu ul li {
    float: left;
    margin-right: 10px;
}

#footer-top-menu p {
    margin-top: -5px;
}

.clear {
    clear: both;
}

#search-field {
    background: none;
    border: none;
    line-height: 2.25;
    margin-left: 7px;
    font-size: 11px;
    padding-top: 2px;
    color: #ccc;
}

#search-field:focus {
    box-shadow: none!important;
    border: none!important;
    -webkit-box-shadow: none!important;
}

#search-field::-webkit-input-placeholder { 
    color:#666; 
}

#search-field::-moz-placeholder {
    color:#666; 
}

#search-field:-ms-input-placeholder {
    color:#666; 
}

#social-icons li {
    float: left;
    margin-left: 10px;
}

#social-icons strong {
    color: #666;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 12px;
}

#hotel-chain {
    
}

#chain {
    background: #1A1919;
    border-top: 1px solid #222;
    padding-top: 15px;
    padding-bottom: 38px;
}

#chain a {
    color: #888;
    font-size: 12px;
}

#chain-head {
    color: #888;
    font-size: 18px;
    font-weight:100;
    text-transform: none;
}

.chain-margin {
    margin-top: 2px;
    text-transform:uppercase;
}

#breadcrumbs {
    font-size: 10px;
    color: #666;
    padding: 0;
}

#destinations-header {
    margin-top: 10px;
    padding-top: 10px;
}

#destinations-header h1 {
    margin: 0;
    font-weight: 100;
    color: #ccc;
    letter-spacing: 0.1em;
    margin-top: 5px;
}

.side-nav {
    margin-top: 5px;
    padding: 0;
    padding-top: 7px;
    padding-right: 15px;
}

.side-nav strong {
    color: #666;
    font-weight: 200;
    color: #ccc;
}

.side-nav a {
    color: #888;
    font-size: 12px;
}

.side-nav li {
    border-bottom: 1px solid #222;
    padding: 5px 0;
}

.side-nav li:first-child {
    border: none;
}

.side-nav li:last-child {
    border: none;
}

.page-header {
    margin: 0;
    border: none;
    padding: 0;
    border-right: 1px solid #222;
}

.hotel-result-box {
    border-bottom: 1px solid #222;
    padding-bottom: 12px;
}

.hotel-result-box a {
    color: #BC9C5E;
}


.hotel-result-box p {
    font-size: 12px;
    color: #666;
}

.hotel-result-box h3 {
    font-weight: 100;
    color: #aaa;
}

.email-link {
    color: #888!Important;
}

.hotel-result-box img {
    height: 101px;
    margin-top: 24px;
}

#hotel-carousel {
    padding: 0;
    overflow: hidden;
    margin-top: 0px;
}

#hotel-carousel img {
    width: 100%;
}

#hotel-carousel h1 {
    margin-bottom: 15px;
}

.hotel-main-image {
    height: 400px;
    overflow: hidden;
}

#hotel-tabs {
    padding: 0;
}

#hotel-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    font-weight: 400;
    color: #666;
}

#hotel-tabs a {
    color :#BC9C5E;
    font-size: 12px;
}

#hotel-tabs .nav-tabs > li > a:hover {
    background: none;
    border: none;
}

#hotel-tabs .nav-tabs {
    border-bottom: 1px solid #333;
}

#hotel-tabs #myTabContent {
    font-size: 12px;
    color: #ccc;
    padding-top: 10px;
}

.datepicker input {
    background: #333!important;
    border: 1px solid #111!important;
}

.datepicker .input-group-addon {
    background: #333!important;
    border: 1px solid #111!important;
    color: #ccc;
}

.datepicker:before, .datepicker:after {
    display: none!important;
}

#reservation-form {
    color: #ccc;
}

#hotel-book-btn {
    margin: 0 5px;
    margin-top: 15px;
    width: 96%;
    background: #666;
    border: 1px solid #777;
}

.quote {
    font-weight: 300;
    font-size: 20px;
}

.check-p {
    margin: 0;
    margin-left: 5px;
    font-weight: 600;
    font-size: 12px;
}

#reservation-form-container {
    padding-right: 0;
}

#reservation-form-container h3 {
    color: #ccc;
    margin-left: 5px;
    font-weight: 100;
    font-size: 24px;
}

.datepicker.dropdown-menu {
    background: #333!important;
    color: #ccc;
}

.margin-left-5 {
    margin-left: 5px;
    font-weight: 100;
}

#page-content p {
    color: #ccc;
    font-size: 12px;
}