<div id='page'>
             <div style='width: 100%; height: 500px; overflow:hidden;'>
			  <carousel interval="myInterval">
			    <slide ng-repeat="slide in slides" active="slide.active" style='width: 100%; height: 500px; overflow:hidden;'>
			      <img ng-src="{{slide.image}}" style="margin:auto; width: 100%;">
			      <div class="carousel-caption">
			        <h4>{{slide.title}}</h4>
			        <p>{{slide.text}}</p>
			      </div>
			    </slide>
			  </carousel>
			</div>
        </div>