<section id="main-content" class="container" style='margin-bottom: 150px;'>
            <div id="destinations-header" class="col-md-12">
                <p id="breadcrumbs" class="col-md-12">PLUMERIA > DESTINATIONS</p>
                
                <div id="hotel-carousel" class="col-md-12">
                    <h1 style='text-transform: uppercase;'>{{propertyInformation.product.name}}</h1>
                    
                    <div id='page'>
                         <div style='width: 100%; height: 350px; overflow:hidden;'>
                          <carousel interval="myInterval">
                            <slide ng-repeat="slide in slides" active="slide.active" style='width: 100%; height: 350px; overflow:hidden;'>
                              <img ng-src="{{slide.image}}" style="margin:auto; width: 100%;">
                              <div class="carousel-caption">
                                <h4>{{slide.title}}</h4>
                                <p>{{slide.text}}</p>
                              </div>
                            </slide>
                          </carousel>
                        </div>
                    </div>

                    <div class="col-md-12" >
                        <div id="hotel-tabs" class="col-md-9">
                            <div class="bs-example bs-example-tabs">
                              <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a ng-click="selectItem('introduction')" data-toggle="tab">Introduction</a></li>
                                <li><a ng-click="selectItem('photos')" data-toggle="tab">Photos</a></li>
                                <li><a ng-click="selectItem('rooms')" data-toggle="tab">Rooms</a></li>
                                <li><a ng-click="selectItem('services')" data-toggle="tab">Services</a></li>
                                <li><a ng-click="selectItem('terms_and_conditions')" data-toggle="tab">Terms and Conditions</a></li>
                              </ul>
                              <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade "  ng:class="{true:'in active', false:''}['introduction'==selectedItem]" id="home">
                                    <p>{{propertyInformation.product.description}}</p>
                                    <h3>Quick Facts</h3>
                                    
                                </div>
                                <div class="tab-pane fade " ng:class="{true:'in active', false:''}['photos'==selectedItem]" id="profile">
                                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                </div>
                                <div class="tab-pane fade " ng:class="{true:'in active', false:''}['rooms'==selectedItem]" id="dropdown1">
                                    <div ng-repeat="room in rooms">
                                        <h3>{{room.name}}</h3>
                                    </div>
                                </div>
                                <div class="tab-pane fade " ng:class="{true:'in active', false:''}['services'==selectedItem]" id="dropdown2">
                                    {{propertyInformation.services}}
                                </div>
                                <div class="tab-pane fade " ng:class="{true:'in active', false:''}['terms_and_conditions'==selectedItem]" id="dropdown2">
                                    {{propertyInformation.terms_and_conditions}}
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-3" id="reservation-form-container">
                            <h3>Make a Reservation</h3>
                            <form id="reservation-form">
                                <p class="margin-left-5">When do you plan to stay with us?</p>
                                <p class="check-p">Check-in</p>
                                <div class="input-group date datepicker" id="dp1" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                    <input class="form-control span2" size="16" type="text" value="12-02-2012" readonly="">
                                    <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                                </div>
                                <p class="check-p">Check-out</p>
                                <div class="input-group input-append date datepicker" id="dp2" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                    <input class="form-control span2" size="16" type="text" value="12-02-2012" readonly="">
                                    <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                                </div>
                                <a id="hotel-book-btn" href="#" class="btn btn-primary btn-block">Book</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>