<section id="main-content" class="container">
            <div id="destinations-header" class="col-md-12">
                <p id="breadcrumbs" class="col-md-12">PLUMERIA > DESTINATIONS</p>
                <div class="col-md-4 page-header">
                    <h1>DESTINATIONS</h1>
                    <aside class="col-md-6 side-nav">
                        <ul class="list-unstyled">
                            <li><strong>Region</strong></li>
                            <li ng-repeat="country in countries"><a ng-click="selectCountry($index)"  ng:class="{true:'active-item', false:''}[$index==selectedCountry]">{{country.name}}</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><strong>Experiences</strong></li>
                            <li ng-repeat="holidayType in holidayTypes"><a ng-click="selectHolidayType($index)"  ng:class="{true:'active-item', false:''}[$index==selectedHolidayType]">{{holidayType.name}}</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md-6 side-nav">
                        <ul class="list-unstyled">
                            <li><strong>Style</strong></li>
                            <li ng-repeat="productType in productTypes"><a ng-click="selectProductType($index)"  ng:class="{true:'active-item', false:''}[$index==selectedProductType]">{{productType.summary}}</a></li>
                        </ul>
                    </aside>
                </div>
                
                <div class="col-md-8">

                    <div class="hotel-result-box" ng-repeat='place in places'>
                        <img class="col-md-3" ng-src="{{url}}files/thumbnail/{{place.image.file_name}}">
                        <div class="col-md-5">
                            <h3>{{place.product.name}}</h3>
                        <p>{{place.product.city}}, {{place.product.country}}</p>
                        <p>{{place.product.description}}</p>
                        <p>Email: <a href="#" class="email-link">plumeiria_admin@t.com</a></p>
                        </div>
                        <a href="#hotel/{{place.product.name.toLowerCase().split(' ').join('-')}}" class="pull-right">View</a>
                        <a href="#" class="pull-right">Book</a>
                        <br class="clear">
                    </div>
                   
                </div>
            </div>
        </section>