<!-- datalist -->
    
    <section class="container"  style='margin-bottom: 100px;' >
        <div class='col-md-12' style='margin-top: 20px;'>
            <p id="breadcrumbs" >PLUMERIA > {{pageName}}</p>
        </div>
            <div class="col-md-12" ng-repeat="dataeach in datalist">
                
                <div class="col-md-4 page-header">
                    <h1>{{dataeach.title}}</h1>
                    <aside class="col-md-12 side-nav">
                        <img class="img-responsive" ng-src="{{dataeach.image}}">
                    </aside>
                </div>
                <div class="col-md-8" id="page-content" style='padding-top:60px;' ng-bind-html="dataeach.description">
              	
                </div>
            </div>
        </section>